@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root{
    --branco: #FFFFFF;
    --roxo1aba: #A04CE0;
    --roxo2aba: #D24CE0;
    --rosa: #E04CA3;
    --botao-ativo:rgba(160, 76, 224, 0.78);
    --botao-inativo:rgba(210, 76, 224, 0.69);
}
body{
    background-color: var(--rosa);
    color: var(--branco);
    font-family: 'Embed code', 'Sans-Serif';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}